body {
  background: var(--green-600);
  color: var(--gray-900);
}

main {
  margin-top: 4rem;
}

form {
  max-width: 585px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

form h1 {
  font-size: 1.6rem;
}

form label {
  display: block;
  margin-bottom: 0.4rem;
  font-size: 1.6rem;
}

form input {
  width: 100%;
  padding: 2rem;
  border-radius: 4px;
  outline: none;
  border: none;
  background: var(--gray-200);
  font-size: 1.2rem;
  color: var(--gray-900);
}

form input::placeholder {
  font-size: 1.2rem;
  color: var(--gray-400);
}

form button {
  display: block;
  width: 12.5rem;
  height: 3rem;
  border: none;
  border-radius: 8px;
  background: var(--gray-900);
  color: var(--gray-300);
  font-size: 1.5rem;
  font-weight: 700;
  cursor: pointer;
}

form button:hover {
  filter: brightness(0.8);
}
